<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302122365929-hbhi4g762302nid9adsg3dn7ahi7eu5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302122365929-hbhi4g762302nid9adsg3dn7ahi7eu5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDhiis6FN0M_D0-t8kujzNHabekzit2_84</string>
	<key>GCM_SENDER_ID</key>
	<string>302122365929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizzieco.bizzieCo</string>
	<key>PROJECT_ID</key>
	<string>bizzie-co</string>
	<key>STORAGE_BUCKET</key>
	<string>bizzie-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302122365929:ios:80acfeddc60071daaf9178</string>
	<key>DATABASE_URL</key>
	<string>https://bizzie-co-default-rtdb.firebaseio.com</string>
</dict>
</plist>